.fb-button {
  margin-top: 20px;
}

#twitter-button {
  width: 50px;
}

body {
  background-color: #A8D5F9;
}

#possible-matches-list {
  list-style-type: none;
}

#possible-matches-list h3 {
  display:inline;
}

h3 {
  /*display:inline;*/
}

#loader {
  display: block;
  margin: 30px auto;
}

.singleResult {
  margin: 20px 0;
}

#upcoming-game img {
  margin-right:20px;
}

#instructions {
  padding: 20px;
}

#logo {
  width: 100%;
}

#search-column {
  margin:80 0 50px 0;
}

#searchInput {
  height: 60px;
  font-size: 20px;
}

#search {
  height: 60px;
}
