#loader {
  display: block;
  margin: 30px auto;
}

h3 {
  display: inline;
}

#critics-score {
  font-size: 80px;
  color: green;
}

.big-button {
  margin-top: 150px;
  width: 300px;
  height: 80px;
  font-size: 30px;
}