#possible-matches-list {
  list-style-type: none;
}

#possible-matches-list h3 {
  display:inline;
}

#single-result h3 {
  display:inline;
}

#loader {
  display: block;
  margin: 30px auto;
}

.singleResult {
  margin: 20px 0;
}

#upcoming-game img {
  margin-right:20px;
}

#instructions {
  padding: 20px;
}