<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/index.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
</head>
<div class="container">
  <div class="page-header">
    <h1>The Rotten Tomatoes Game<small> ... as heard on the Adam Carolla Show</small></h1>
  </div>

  <div class="well">
    <div class="input-group">
      <span class="input-group-btn">
        <form action="/searchMovies" method="post">
          <button class="btn btn-default" id="search" type="submit">Find Movie</button>
        </form>
      </span>
      <input type="text" class="form-control" name="title" id="searchInput" placeholder="enter movie title here to find it on RottenTomatoes!">
    </div>  


    <div id="search-results">
      <div id="ajax-results"></div>
      <!-- insert ajax movie results -->
      <ul id="possible-matches-list">
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Upcoming Game</h4>
        </div>
        <div class="panel-body">
          <div id="upcoming-game">
          </div>
        </div>
        <div class="panel-footer">
          <form action="/start" method="post">
            <input type="hidden" id="mov-ids" name="movies">
            <button style="display:none;" class="btn btn-primary" id="start-game" type="submit" value="">START GAME!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>How to Play</h4>
        </div>
        <div id="instructions">
          <p>Get started by using the search field above to find movies on Rotten Tomatoes and add them to your game. Try themes like "football movies," "Tom Hanks movies," or "attack crows." When you're ready, click "start game" to proceed to gameplay. The button below clears your selections and starts the process over.</p>
        </div>
      </div>
    </div>
  </div>

  <form action="/" method="get" class="pull-right">
    <button class="btn btn-default" id="restart" type="submit">restart movie selection</button>
  </form>
</div>








