<head>
  <link href="/foundation.min.css" rel="stylesheet" />
  <link href="/index.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/index.js"></script>
</head>
<form action="/searchMovies" method="post">
  <input type="text" name="title">
  <input id="search" type="submit">
</form>
<div id="search-results">
  <div id="ajax-results"></div>
  <!-- insert ajax movie results -->
  <ul id="possible-matches-list">
  </ul>
</div>
<div id="upcoming-game">
  <h2>Upcoming Game</h2>
</div>
<form action="/start" method="post">
  <input type="hidden" id="mov-ids" name="movies">
  <button id="start-game" type="submit" value="">START GAME!</button>
</form>
<form action="/" method="get">
  <input id="search" type="submit" value="restart">
</form>








